DB_USER="postgres"
DB_NAME="teslo-shop"
DB_PASSWORD=123456

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Agregar la URL de la base de datos - crear cuenta en neon db
DATABASE_URL=""

# https://generate-secret.vercel.app/32
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app